<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
  <title>博客管理</title>
</head>

<body>

<!--導航-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
  <div class="ui container">
    <div class="ui inverted secondary stackable menu">
      <h2 class="ui teal header item">管理後臺</h2>
      <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分類</a>
      <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>標簽</a>
      <div class="right m-item menu m-mobile-hide ">

        <div class="ui dropdown item">
          <div class="text">
            <img class="ui avatar image" src="https://picsum.photos/id/0/100/100">
            Moon
          </div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a href="#" class="item">注銷</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show"><i class="sidebar icon"></i></a>
</nav>
<div class="ui attached pointing menu">
  <div class="ui container">
    <div class="right menu">
      <a href="#" th:href="@{/admin/blogs/input}" class="item">發佈</a>
      <a href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>
    </div>
  </div>
</div>
<br>
<!--中間内容-->
<div class="m-container-small m-padded-tb-big">
  <div class="ui container">
    <!--header-->
    <div  class="ui secondary segment form">
      <input type="hidden" name="page">
      <div class="inline fields">
        <div class="field">
          <input type="text" name="title" placeholder="標題">
        </div>
        <div class="field">
          <div class="ui labeled action input">
            <div class="ui type selection dropdown">
              <input type="hidden" name="typeId">
              <i class="dropdown icon"></i>
              <div class="default text">分類</div>
              <div class="menu">
                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">錯誤日志</div>
                <!--/*-->
                <div class="item" data-value="2">開發者手冊</div>
                <!--*/-->
              </div>
            </div>
            <button id="clear-btn" class="ui compact button">clear</button>
          </div>

        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="recommend" name="recommend">
            <label for="recommend">推薦</label>
          </div>
        </div>
        <div class="field">
          <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
        </div>
      </div>
    </div>
    <div id="table-container">
      <table th:fragment="blogList" class="ui compact teal table">
        <thead>
        <tr>
          <th></th>
          <th>標題</th>
          <th>型號</th>
          <th>推薦</th>
          <th>狀態</th>
          <th>更新時間</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog,iterStat : ${page.content}">
          <td th:text="${iterStat.count}">1</td>
          <td th:text="${blog.title}">刻意練習清單</td>
          <td th:text="${blog.type.name}">認知升級</td>
          <td th:text="${blog.recommend}?'是':'否'">是</td>
          <td th:text="${blog.published}?'發佈':'草稿'">是</td>
          <td th:text="${blog.updateTime}">2017-10-02</td>
          <td>
            <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal basic button">編輯</a>
            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red basic button">刪除</a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th colspan="7">
            <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
              <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">上一頁</a>
              <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item" th:unless="${page.last}">下一頁</a>
            </div>
            <a href="#" th:href="@{/admin/blogs/input}"  class="ui mini right floated teal basic button">新增</a>
          </th>
        </tr>
        </tfoot>
      </table>

      <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">提示:</div>
        <p th:text="${message}">恭喜，操作成功！</p>
      </div>

    </div>

  </div>
</div>
<br>
<br>
<br>

<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" class="ui m-padded-tb-massive inverted vertical segment">
  <div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
      <div class="three wide column">
        <div class="ui inverted link list">
          <div class="item">
            <img src="../../static/images/qrcode.jpg" class="ui rounded image" alt="" style="width: 100px;"
                 srcset="">
          </div>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">用戶故事</a>
          <a href="#" class="item">用戶故事</a>
          <a href="#" class="item">用戶故事</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">聯係我</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Email：qingxiao4@gmail.com</a>
          <a href="#" class="item">Line : siaucheng</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
        <p class="m-text-thin m-text-spaced m-opacity-mini">這是我的個人博客，會分享各式各樣的東西。</p>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright 2018-2019 Design by Moon</p>
  </div>
</footer>
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<!--mobile hide-->
<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });
  $('.ui.dropdown').dropdown({
    on: 'hover'
  });

  function page(obj){
    $("[name='page']").val($(obj).data("page"));
    loaddata();
  }

  $("#search-btn").click(function(){
    $("[name='page']").val(0);
    loaddata();

  });

  function loaddata() {
    $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
      title : $("[name='title']").val(),
      typeId : $("[name='typeId']").val(),
      recommend : $("[name='recommend']").prop('checked'),
      page : $("[name='page']").val()
    });
  }

  //消息提示初始化關閉
  $('.message .close')
          .on('click',function(){
            $(this)
                    .closest('.message')
                    .transition('fade');
          });
  $('#clear-btn')
          .on('click',function(){
            $('.ui.type.dropdown')
                    .dropdown('clear');
          });

</script>

</body>

</html>