<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--   <meta charset="UTF-8">-->
<!--   <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--   <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">-->
<!--   <link rel="stylesheet" href="../../static/css/me.css">-->
<!--   <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">-->
<!--   <title>博客發佈</title>-->
<!--</head>-->

<!--<body>-->

<!--   &lt;!&ndash;導航&ndash;&gt;-->
<!--   <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">-->
<!--      <div class="ui container">-->
<!--         <div class="ui inverted secondary stackable menu">-->
<!--            <h2 class="ui teal header item">管理後臺</h2>-->
<!--            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>博客</a>-->
<!--            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分類</a>-->
<!--            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>標簽</a>-->
<!--            <div class="right m-item menu m-mobile-hide ">-->
<!--               <div class="ui dropdown item">-->
<!--                  <div class="text">-->
<!--                     <img class="ui avatar image" src="https://picsum.photos/id/0/100/100">-->
<!--                     Moon-->
<!--                  </div>-->
<!--                  <i class="dropdown icon"></i>-->
<!--                  <div class="menu">-->
<!--                     <a href="#" class="item">注銷</a>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </div>-->
<!--      <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show"><i class="sidebar icon"></i></a>-->
<!--   </nav>-->
<!--   <div class="ui attached pointing menu">-->
<!--      <div class="ui container">-->
<!--         <div class="right menu">-->
<!--            <a href="#" class="teal active item">發佈</a>-->
<!--            <a href="#" class="item">列表</a>-->
<!--         </div>-->
<!--      </div>-->
<!--   </div>-->
<!--   <br>-->
<!--   &lt;!&ndash;中間内容&ndash;&gt;-->
<!--   <div class="m-container-small m-padded-tb-big">-->
<!--      <div class="ui container">-->
<!--         <form action="#" method="post" class="ui form">-->
<!--            <div class="required field">-->
<!--               <div class="ui left labeled input">-->
<!--                  <div class="ui selection compact teal basic dropdown label">-->
<!--                     <input type="hidden" value="原創">-->
<!--                     <i class="dropdown icon"></i>-->
<!--                     <div class="text">原創</div>-->
<!--                     <div class="menu">-->
<!--                        <div class="item" data-value="原創">原創</div>-->
<!--                        <div class="item" data-value="轉載">轉載</div>-->
<!--                        <div class="item" data-value="翻譯">翻譯</div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--                  <input type="text" name="title" placeholder="標題">-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--               <div id="md-content" style="z-index:1 !important">-->
<!--                  <textarea placeholder="博客内容" name="content" style="display:none">-->
<!--                        [TOC]-->

<!--                        #### Disabled options-->
<!--                        -->
<!--                        - TeX (Based on KaTeX);-->
<!--                        - Emoji;-->
<!--                        - Task lists;-->
<!--                        - HTML tags decode;-->
<!--                        - Flowchart and Sequence Diagram;-->
<!--                  </textarea>-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="two fields">-->
<!--               <div class="field">-->
<!--                  <div class="ui left labeled input">-->
<!--                     <label class="ui conpact teal basic label">分類</label>-->
<!--                     <div class="ui fluid selection dropdown">-->
<!--                        <input type="hidden">-->
<!--                        <i class="dropdown icon"></i>-->
<!--                        <div class="default text">分類</div>-->
<!--                        <div class="menu">-->
<!--                           <div class="item" data-valu="1">錯誤日志</div>-->
<!--                           <div class="item" data-valu="1">開發者手冊</div>-->
<!--                        </div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="field">-->
<!--                  <div class="ui left labeled input">-->
<!--                     <label class="ui conpact teal basic label">標簽</label>-->
<!--                     <div class="ui fluid multiple search selection dropdown">-->
<!--                        <input type="hidden">-->
<!--                        <i class="dropdown icon"></i>-->
<!--                        <div class="default text">標簽</div>-->
<!--                        <div class="menu">-->
<!--                           <div class="item" data-valu="1">Java</div>-->
<!--                           <div class="item" data-valu="2">MySql</div>-->
<!--                           <div class="item" data-valu="3">github</div>-->
<!--                        </div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--               <div class="ui left labeled input">-->
<!--                  <label class="ui teal basic label">首圖</label>-->
<!--                  <input type="text" name="indexPicture" placeholder="首圖引用地址">-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="inline fields">-->
<!--               <div class="field">-->
<!--                  <div class="ui checkbox">-->
<!--                     <input type="checkbox" id="recommend" checked name="recommend" class="hidden">-->
<!--                     <label for="recommend">推薦</label>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="field">-->
<!--                  <div class="ui checkbox">-->
<!--                     <input type="checkbox" id="info" name="info" class="hidden">-->
<!--                     <label for="info">轉載聲明</label>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="field">-->
<!--                  <div class="ui checkbox">-->
<!--                     <input type="checkbox" id="appreciation" name="appreciation" class="hidden">-->
<!--                     <label for="appreciation">贊賞</label>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="field">-->
<!--                  <div class="ui checkbox">-->
<!--                     <input type="checkbox" id="comment" name="comment" class="hidden">-->
<!--                     <label for="comment">評論</label>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="ui error message"></div>-->
<!--            <div class="ui right aligned container">-->
<!--               <button type="button" class="ui button" onclick="window.history.go(-1)">-->
<!--                  返回-->
<!--               </button>-->
<!--               <button class="ui secondary button">保存</button>-->
<!--               <button class="ui teal button">發佈</button>-->
<!--            </div>-->
<!--         </form>-->
<!--      </div>-->
<!--   </div>-->
<!--   <br>-->
<!--   <br>-->
<!--   <br>-->

<!--   &lt;!&ndash;底部footer&ndash;&gt;-->
<!--   <footer class="ui m-padded-tb-massive inverted vertical segment">-->
<!--      <div class="ui center aligned container">-->
<!--         <div class="ui inverted divided stackable grid">-->
<!--            <div class="three wide column">-->
<!--               <div class="ui inverted link list">-->
<!--                  <div class="item">-->
<!--                     <img src="../../static/images/qrcode.jpg" class="ui rounded image" alt="" style="width: 100px;"-->
<!--                        srcset="">-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="three wide column">-->
<!--               <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>-->
<!--               <div class="ui inverted link list">-->
<!--                  <a href="#" class="item">用戶故事</a>-->
<!--                  <a href="#" class="item">用戶故事</a>-->
<!--                  <a href="#" class="item">用戶故事</a>-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="three wide column">-->
<!--               <h4 class="ui inverted header m-text-thin m-text-spaced">聯係我</h4>-->
<!--               <div class="ui inverted link list">-->
<!--                  <a href="#" class="item">Email：qingxiao4@gmail.com</a>-->
<!--                  <a href="#" class="item">Line : siaucheng</a>-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="seven wide column">-->
<!--               <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>-->
<!--               <p class="m-text-thin m-text-spaced m-opacity-mini">這是我的個人博客，會分享各式各樣的東西。</p>-->
<!--            </div>-->
<!--         </div>-->
<!--         <div class="ui inverted section divider"></div>-->
<!--         <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright 2018-2019 Design by Moon</p>-->
<!--      </div>-->
<!--   </footer>-->

<!--   <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>-->
<!--   <script src="../../static/lib/editormd/editormd.min.js"></script>-->
<!--   &lt;!&ndash;mobile hide&ndash;&gt;-->
<!--   <script>-->
<!--      //初始化markdown-->
<!--      var contentEditor;-->
<!--      $(function () {-->
<!--         contentEditor = editormd("md-content", {-->
<!--            width: "100%",-->
<!--            height: 640,-->
<!--            syncScrolling: "single",-->
<!--            path: "../../static/lib/editormd/lib/"-->
<!--         });-->

<!--         /*-->
<!--         // or-->
<!--         testEditor = editormd({-->
<!--             id      : "test-editormd",-->
<!--             width   : "90%",-->
<!--             height  : 640,-->
<!--             path    : "../../lib/"-->
<!--         });-->
<!--         */-->
<!--      });-->

<!--      $('.menu.toggle').click(function () {-->
<!--         $('.m-item').toggleClass('m-mobile-hide');-->
<!--      });-->
<!--      $('.ui.dropdown').dropdown({-->
<!--         on: 'hover'-->
<!--      });-->
<!--      $('.ui.form').form({-->
<!--         fields: {-->
<!--            title: {-->
<!--               identifier: 'title',-->
<!--               rules: [{-->
<!--                  type: 'empty',-->
<!--                  prompt: '標題：請輸入内容'-->
<!--               }]-->
<!--            }-->
<!--         }-->
<!--      });-->
<!--   </script>-->

<!--</body>-->

<!--</html>-->